/* Importar fuente Inter desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Aplicar la fuente a todo el documento */
html {
    font-family: 'Inter', sans-serif;

    --lumo-border-radius: 0px;
    --lumo-size-xl: 3rem;
    --lumo-size-l: 2.5rem;
    --lumo-size-m: 2rem;
    --lumo-size-s: 1.75rem;
    --lumo-size-xs: 1.5rem;
}

/* Estilo para modo oscuro (vacío por ahora) */
html[theme~="dark"] {
    /* Puedes agregar estilos específicos para dark mode aquí */
}

/* Estilos para vaadin-button */
vaadin-button:not([theme~="tertiary"]) {
    background-image: linear-gradient(var(--lumo-tint-5pct), var(--lumo-shade-5pct));
    box-shadow: inset 0 0 0 1px var(--lumo-contrast-20pct);
}

vaadin-button:not([theme~="tertiary"]):not([theme~="primary"]):not([theme~="error"]):not([theme~="success"]) {
    color: var(--lumo-body-text-color);
}

vaadin-button[theme~="primary"] {
    text-shadow: 0 -1px 0 var(--lumo-shade-20pct);
}

/* Estilos para vaadin-text-field */
vaadin-text-field::part(input-field) {
    box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
    background-color: var(--lumo-base-color);
    font-family: 'Inter', sans-serif;
}

vaadin-text-field[invalid]::part(input-field) {
    box-shadow: inset 0 0 0 1px var(--lumo-error-color);
}

